20250619_mv
venv
data
data_combined
*.zip
*.pth
__pycache__


vue-ui/logs
vue-ui/*.log
vue-ui/npm-debug.log*
vue-ui/yarn-debug.log*
vue-ui/yarn-error.log*
vue-ui/pnpm-debug.log*
vue-ui/lerna-debug.log*

vue-ui/node_modules
vue-ui/dist
vue-ui/dist-ssr
vue-ui/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?